@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
    box-sizing: border-box;
    font-family: roboto;
    margin: 0;
}

/*  nav     */
.navBlack{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navBlack p{    
    padding:10px 30px 10px 100px;
    margin: 0%;
}

.line{
    display: flex;
    margin: 0%;
}
.line p{
    padding: 10px 30px;
    list-style: none;
}
.nav__burguer{
    display: none;
}
/*    header     */
header{
    background-color: #F0A83E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.logo{
    margin-left: 30px;
}
header img{    
    height: 20px;
}
.logo__black{
    color:  #3C2313;
    font-weight: 700;
    font-size: 40px;   
}
.logo__white{
    color: white;
    font-weight: 700;
    font-size: 40px;
}

.section{
    font-size: 17px;
    font-weight: 400;
}

/*   MAIN    */
.banner{
    background-image: url("./img/bowl-and-pet-daities-on-green-background\ 1.png");
    background-size: cover;
    height: 509px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-end;
}
h2{
    color: #3C2313;
    font-size: 29px;
    font-weight: 700;
}
.placer{
    text-align: center;
    margin-right: 5rem;
}
.tittle{
    background-color: white;
    border-radius: 5px;
    color: #3C2313;
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    padding: 20px;
    width: 365px;
}
.home__button{
    background-color: #F0A83E;
    border-color: #F0A83E;
    color: white;
    height: 49px;
    text-align: center;    
    width: 141px;
}

/* PRODUCTOS */
.products__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.products__home{
    margin-top: 50px;
    text-align: center;
}
.text{
    color: #3C2313;
    font-size: 17px;
    font-weight: 700;
    margin: 0px;
}
h4{
    color: #F0A83E;
}
a{
    text-decoration: none;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    .navBlack{
        display: none;
    }
    .line{
        display: none;
    }
    .nav__burguer{
        display: inline-block;
    }
    header{
        flex-wrap: nowrap;
    }
    .home__button{
        border: none ;
    }

    /* BANNER */
    .banner{
        align-items: center;
        background-image: url("./img/Full\ 1.png");
         background-size: cover;
    }
    .placer{
        margin: 0px;
    }
    .section{
        text-align: center;
    }
}

/* Clase 15
 Formularios */

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

input{
    background-color: #3C2313;
    border-radius: 25px;
    color: white;
    font-size: 15¿px;
    font-weight: 400;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    text-align: left;
    width: 360px;
}
textarea{
    border:solid 5px #3C2313;
    border-radius: 25px;
    color: #3C2313;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0px;
    padding: 10px;
    text-align: left;
    width: 360px;
}
label{
    color: #3C2313;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    width: 360px;
}
.doc{
    background-color: transparent;
    margin-top: 0%;
}
/* color texto placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3C2313;
    opacity: 1; /* Firefox */
}
#form__button button{    
    border-color: transparent;
    border-radius: 20px;
    background-color: #F0A83E;
    color: white;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    margin: 0 5px;
    width: 150px;
}
.button__grey{
    background-color: #8A8787 !important;
}
/* Clase 15

/* clase 16 
Iconos en la barra de navegación*/
.line.section p::before {
    font-family: FontAwesome;
    content: "\f1b0";
}
/* clase 16 

/*FOOTER*/
.footer__orange{
    align-items: center;
    background-color: #F0A83E;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 700;    
    justify-content: space-between;
    padding:5px 10px;
    margin-top: 50px;
}
.suscribe::before{
    font-family: FontAwesome;
    content: "\f658";
    padding: 5px;
}
.footer__form input{
    background-color: white;
    border: 0px;
    color: #3C2313;
}
.footer__form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3C2313;
    opacity: 1; /* Firefox */
}
.footer__form button{
    border-color: transparent;
    border-radius: 20px;
    background-color:#3C2313;
    color: white;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    margin: 0 5px;
    width: 150px;
}
.footer__brown{
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 20px;
}
.info img{
    display: block;
}

.logo__orange{
        color:#F0A83E;
        font-weight: 700;
        font-size: 40px;
    
}
.rights{
    background-color: black;
    color: white;
    font-size: 10px;
    font-weight: 700;
    height: 20px;
    text-align: center;
    margin: 0%;
}
.rights p{
    margin: 0px;
    padding: 2px;
}