body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
nav{
    background-color: #1CD1B0;
    height: 38px;
}
nav p{
    margin: 0 0 0 2rem ;
    padding-top: 0.5rem;
}
.heroes{
    background-color: #00669F;
    height: 101px;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 7rem;
}
.heroes p{
    margin: auto;
    padding: 2rem;
}
footer{
    background-color: #00669F;
    height: 51px;
    color: white;
}
footer p{
    margin: 0 0 0 2rem ;
    padding-top: 0.5rem;
}
/* TARJETAS */
.container{
    text-align: center;
}
.cards{
    display: inline-block;
    background-color: #F3F3F3;
    width: 300px;
    border-radius: 16px 16px 0px 0px;
    margin: 2rem;
    text-align: center;
}

.heart{
    position: relative;
    left: -120px;
    top: 10px;
}
.fondoBatman{
    background-image: url("./img/batmanfondo.png");
    width: 300px;
    height: 193px;
}
.fondoHarley{
    background-image: url("./img/harfondo.png");
    width: 300px;
    height: 193px;
}
.perfil{
    position: relative;
    bottom: 50px;
}
.perfil img{
    border-radius: 50%;
}
#name{
    font-size: 30px;
    font-weight: 400;
    margin: auto;
    text-align: center;
}
.cards p{
    font-size: 16px;
    text-align: left;
    padding: 0 1rem 1rem;

}
button{
    background-color: #00669F;
    color: white;
    width: 128.78px;
    height: 48.52px;
    margin-bottom: 1.5rem;
}
